body
{
   background-color: #F5F5F5;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
h1{color: rgb(0,0,200); font-family: Georgia; font-size: 35px;}
		
.col input,select{font-size: 16px; padding: 5px 0px 5px 5px;}
.col input{width: 99%;}
.col select{width: 100%;}
.div-span{padding-bottom: 10px;}
.div-input{padding-bottom: 20px; display:inline-block; width:100%; z-index:84;}
#Confirm{width: 40%; background: rgb(0,0,200); color: white;}
#Close{background: rgb(200,0,0); color: white; font-size: 16px; border: 1px solid black; padding: 3px 10px 6px 10px; text-decoration: none; margin-left: 5px;}
.div-input span {font-size: 15px; font-weight: bold; color: rgb(0,0,200);}
